<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploaded</title>
</head>
<body>
    <h2>Success!!</h2>
    {% if upload_msg %}
    <p>{{ upload_msg }}</p>
    {% else %}
    <p> Your resumes were uploaded successfully and job description saved.</p>
    {% endif %}
    <a href = "{% url 'upload_resumes' %}">Go back to Resume Upload and get ur perfect match</a><br>
    <a href = "{% url 'upload_job' %}">Go back to Job upload forms and get your perfect match</a>
</body>
</html>